<div class="form">
  <div class="jumbotron">
    <%= form_with model: @employee do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div>
        <%= f.label :name %><span class="required">*</span>
        <%= f.text_field :name, class:"form-control",required: true %>
      </div>
      <div>
        <%= f.label :email %><span class="required">*</span>
        <%= f.email_field :email,class:"form-control",required: true %>
      </div>
      <div>
        <%= f.label :status,class:'Dropdown' %><span class="required">*</span><br/>
        <%= f.select :status, [['Active',true], ['Inactive',false]],class:'form-control' %>
      </div><br/><br/>
      <%= f.submit yield(:button_text), class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>

