<%= render 'shared/flash' %>
<% @issues.each do |issue| %>
  <div class="jumbotron">
    <h2><%= issue.employee.name %> added a issue for</h3>
    <h3>Item <%= issue.item.item_fullname %></h3>
    <%= render 'issue' ,issue: issue %>
    <%= link_to "verify",edit_issue_path(issue), class:"btn btn-primary" %>
    <%= link_to "delete",issue ,method: :delete,data: {confirm: "are you sure?"}, class:"btn btn-primary" %>
  </div>
<% end %>