<div class="row">
  <div class=" col-6 form-group">
    <%= form_with model:@user do |f| %>
     <%= render 'shared/errors', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control mt-10"%>
    <%= f.label :email %>
    <%= f.email_field :email,class:"form-control mt-10" %>
    <h5>Add Accesses for user</h5>
    <%= f.label :employee %>
    <%= f.select :employee,[['yes',true], ['no',false]], class:"form-control mt-10" %>
    <%= f.label :brand %>
    <%= f.select :brand,[['yes',true], ['no',false]], class:"form-control mt-10" %>
    <%= f.label :category %>
    <%= f.select :category,[['yes',true], ['no',false]], class:"form-control mt-10" %>
    <%= f.label :item %>
    <%= f.select :item,[['yes',true], ['no',false]], class:"form-control mt-10" %>
    <%= f.label :storage %>
    <%= f.select :storage,[['yes',true], ['no',false]], class:"form-control mt-10" %>
    <%= f.label :issue %>
    <%= f.select :issue,[['yes',true], ['no',false]], class:"form-control mt-10" %><br/>
    <%= f.submit yield(:button_text), class:"btn btn-primary" %>
    <% end %>
  </div>
</div>