<div class="form">
  <div class="jumbotron">
    <%= form_with model:@user do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.label :name,class:'form-label' do %>
        Name<span class="required">*</span>
      <% end %>
      <%= f.text_field :name , class:"form-control", minlength:3 %>
      <%= f.label :email do %>
        Email<span class="required">*</span>
      <% end %>
      <%= f.email_field :email,class:"form-control" %>
      <div class="user-access-form">
        <h3>Add Access To Section</h3>
        <table class="table">
          <tbody>
            <tr>
              <td><%= f.label :employee %></td>
              <td><%= f.select :employee,options_for_select([['Yes',true],['No',false]],f.object.section.employee), class:"form-control" %></td>
              <td><%= f.label :brand %></td>
              <td><%= f.select :brand,options_for_select([['Yes',true],['No',false]],f.object.section.brand), class:"form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :category %></td>
              <td><%= f.select :category,options_for_select([['Yes',true],['No',false]],f.object.section.category), class:"form-control" %></td>
              <td><%= f.label :item %></td>
              <td><%= f.select :item,options_for_select([['Yes',true],['No',false]],f.object.section.item), class:"form-control" %></td>
            </tr>
            <tr>
               <td><%= f.label :storage %></td>
              <td><%= f.select :storage,options_for_select([['Yes',true],['No',false]],f.object.section.storage), class:"form-control" %></td>
              <td><%= f.label :issue %></td>
              <td><%= f.select :issue,options_for_select([['Yes',true],['No',false]],f.object.section.issue), class:"form-control" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit yield(:button_text), class:"btn btn-primary" %>
    <% end %>
  </div>
</div>