<div class="form">
  <div class="jumbotron">
    <%= form_with model: @storage do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.label :item %><span class="required">*</span>
      <% options = options_from_collection_for_select(@items, 'id','item_fullname') %>
      <%= f.select :item_id,  options %>
      <%= f.label :procurement_date %><span class="required">*</span>
      <%= f.date_field :procurement_date,class:"form-control mt-10",required: true %>
      <%= f.label :quantity %><span class="required">*</span>
      <%= f.number_field :quantity,class:"form-control mt-10", required: true %>
      <br/>
      <%= f.submit yield(:button_text),class:"btn btn-primary" %>
    <% end %>
  </div>
</div>