<%
=begin%>
 <div class="row">
  <div class=" col-6 form-group">
    <%= form_with model: @item do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control mt-10" %>
      <%= f.select(:brand_id) do %>
        <%= content_tag(:option, 'select', value: nil) %>
        <% @brands.each do |l| %>
         <%= content_tag(:option, l.name, value: l.id) %>
        <% end %>
      <% end %>
      <%= f.select(:category_id) do %>
        <%= content_tag(:option, 'select', value: nil) %>
        <% @categories.each do |l| %>
         <%= content_tag(:option, l.name, value: l.id) %>
        <% end %>
      <% end %>
      <%= f.label :notes %>
       <%= f.text_field :notes, class:"form-control mt-10" %>
      <%= f.label :buffer%>
      <%= f.number_field :buffer_quantity, class:"form-control mt-10" %>
      <%= f.submit yield(:button_text), class:"btn btn-primary" %>
      <% end %>
     </div>
</div>
<%
=end%>
<div class="row">
  <div class=" col-6 form-group">
    <%= form_with model: @item do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name.downcase, class:"form-control mt-10" %>
      <% options = options_from_collection_for_select(@brands, 'id', 'name') %>
      <%= f.select :brand_id,  options %>
      <% options = options_from_collection_for_select(@categories, 'id', 'name') %>
      <%= f.select :category_id,  options %>
      <%= f.label :notes %>
       <%= f.text_field :notes, class:"form-control mt-10" %>
      <%= f.label :buffer%>
      <%= f.number_field :buffer_quantity, class:"form-control mt-10" %>
      <%= f.label :file %>
      <%= f.file_field :file,accept:".png,.jpg,.doc,.pdf,.docx" %>
      <%= f.submit yield(:button_text), class:"btn btn-primary" %>
      <% end %>
     </div>
</div>



