<div class="form">
  <div class="jumbotron">
    <%= form_with model: @brand do |f| %>
      <% unless f.object.nil? %>
        <%=render 'shared/errors',object: f.object %>
      <% end %>
      <%=f.label :name do %>
        Brand Name<span class="required">*</span>
      <% end %>
      <%= f.text_field :name, class:"form-control input-sm",required: true, minlength:3 %>
      <br/>
      <%= f.submit yield(:button_text),class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
