<div class="form">
  <div class="jumbotron">
    <%= form_with model: @brand do |f| %>
      <% unless f.object.nil? %>
        <%=render 'shared/errors',object: f.object %>
      <% end %>
      <span><%=f.label :name,"Brand Name" %><span class="required">*</span>
      <%= f.text_field :name, class:"form-control input-sm",required: true %>
      <br/>
      <%= f.submit yield(:button_text),class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
