<%= render 'shared/flash' %>
<%= link_to "Add Category",new_category_path, class:'btn btn-primary' %>
<h1>All Categories</h1>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to "Edit Category",edit_category_path(category),class:"btn btn-primary" %></td>
        <td><%= link_to "Delete Category", category,method: :delete, data:{confirm:"are you sure?"},class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>