<nav class="navbar navbar-default">
  <div class="container-fluid ">
    <div class="navigation">
      <%= link_to '/' do %>
        <%= image_tag 'logo.png',class:'logo' %>
      <% end %>
      <ul class="nav">
        <% if user_logged_in %>
          <% if current_user.section.employee %>
            <li class="<%= 'active nav-item' if current_page?(employees_path) %>">
              <%= link_to "Manage Employees ",employees_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.section.brand %>
            <li class="<%= 'active nav-item' if current_page?(brands_path) %>">
              <%= link_to "Manage Brands",brands_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.section.category %>
            <li class="<%= 'active nav-item' if current_page?(categories_path) %>">
              <%= link_to "Manage Categories",categories_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.section.item %>
            <li class="<%= 'active nav-item' if current_page?(items_path) %>">
              <%= link_to "Manage Items",items_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.section.storage %>
            <li class="<%= 'active nav-item' if current_page?(storages_path) %>">
              <%= link_to "Manage Storage",storages_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.section.issue %>
            <li class="<%= 'active nav-item' if current_page?(issues_path) %>">
              <%= link_to "Manage Issues",issues_path,class:'nav-link' %>
            </li>
          <% end %>
          <% if current_user.admin %>
            <li class="<%= 'active nav-item' if current_page?(users_path) %>">
              <%= link_to "Manage Master Users",users_path,class:'nav-link' %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown">
                <img src="/assets/bell.png" class='icon'/>
                 <%= current_user.admin_notifications.length %>
              </a>
              <ul class="dropdown-menu">
                 <%= render 'admin_notifications/notifications' %>
              </ul>
            </li>
          <% end %>
        <% end %>
        <% if employee_logged_in %>
          <li class="<%= 'active nav-item' if current_page?(employee_url(current_employee)) %>">
            <%= link_to "Profile",employee_path(current_employee),class:'nav-link' %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/assets/bell.png" class='icon'/>
              <%= current_employee.employee_notifications.length %>
            </a>
            <ul class="dropdown-menu">
              <%= render 'employee_notifications/notifications' %>
            </ul>
          </li>
        <% end %>
        <% if !user_logged_in && !employee_logged_in%>
          <li class="nav-item">
            <%= link_to "User/Employee Login",login_path,class:'nav-link' %>
          </li>
        <% elsif employee_logged_in %>
          <li class="nav-item">
            <%= link_to "Logout",employee_logout_path,class:'nav-link btn btn-default' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Logout",logout_path,class:'nav-link btn btn-default' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>